/* width: 1024px */

@media (max-width: 1024px){

    .container{
        max-width: 900px;
    }

    .main__photo{
        left: 210px;
    }
}

/* width: 1024px */

/* width: 768px */

@media (max-width: 768px){

    .header__burger{
        display: block;
        width: 38px;
        height: 22px;
        position: relative;
    }

    .header__burger span,
    .header__burger::before,
    .header__burger::after{
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 20;
        height: .2em;
        background-color: #fff;
        transition: .3s ease;
        
    }

    .header__burger::before,
    .header__burger::after{
        content: " ";
    }

    .header__burger span{
        top: 50%;
        transform: translateY(-50%);
    }

    .header__burger::before{
        top: 0;
    }

    .header__burger::after{
        bottom: 0;
    }

    .header__burger.active::before{
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    
    .header__burger.active::after{
        bottom: 50%;
        transform: rotate(-45deg) translate(0px, 50%);
    }

    .header__burger.active span{
        transform: scale(0)
    }

    .menu__wrapper{
        display: block;
        position: fixed;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #0c0c0c;
        opacity: .95;
        transform: translate(200%);
        transition: .6s ease;
    }

    .header__wrapper.active .menu__wrapper{
        transform: translate(100%);
    }

    .header__nav{
        margin-top: 60px;
        display: block
    }

    .header__nav li{
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .header__nav a{
        font-size: 30px;
    }

    .header__wrapper.active .menu__title{
        margin-top: 14px;
        margin-left: 30px;
        font-size: 30px;
        display: block;
        color: #fff;
    }


    .container{
        max-width: 650px;
    }

    .main__item__photo{
        width: 370px;
    }

    .main__photo{
        left: 110px;
    }

    .swiper,
    .swiper__img{
        width: 600px;
        height: 400px;
    }
}

/* width: 768px */

/* width: 425px */

@media (max-width: 425px){

    .container{
        max-width: 400px;
    }

    .header__logo{
        margin-left: 25px;
    }

    .header__burger{
        margin-right: 24px;
    }

    .header__wrapper.active .menu__title{
        margin-top: 54px;
        margin-left: 20px;
    }

    .header__nav li{
        margin-bottom: 25px;
        margin-left: 20px;
    }

    .main__photo{
        left: 10px;
    }

    .main__title{
        font-size: 24px;
    }

    .main__subtitle{
        font-size: 20px;
    }

    .main__text{
        font-size: 17px;
    }

    .main__subtext{
        font-size: 15px;
        margin-top: 10px;
    }

    .swiper,
    .swiper__img{
        width: 390px;
        height: 240px;
    }

    .portfolio{
        height: 400px;
    }

    .coopyright{
        font-size: 15px;
    }

    .footer__contact{
        width: 175px;
    }
}

/* width: 425px */

/* width: 375px */

@media (max-width: 375px){

    .container{
        max-width: 360px;
    }

    .header{
        height: 60px;
    }

    .header__logotip{
        width: 50px;
        height: 50px;
    }

    .header__burger{
        width: 34px;
        height: 16px;
    }

    .header__wrapper.active .menu__title{
        font-size: 20px;
        margin-top: 19px;
        margin-left: 10px;
    }

    .header__nav{
        margin-top: 40px;
    }

    .header__nav li{
        margin-bottom: 20px;
    }

    .header__nav a{
        font-size: 20px;
    }

    .menu__wrapper{
        width: 58%;
    }

    .header__wrapper.active .menu__wrapper{
        transform: translate(72%);
    }

    .main__item__photo{
        width: 390px;
    }

    .main__photo{
        left: 6px;
    }

    .main__title{
        font-size: 21px;
    }

    .main__subtitle{
        font-size: 20px;
    }

    .main__text{
        font-size: 14.8px;
        text-align: center;
    }

    .portfolio{
        height: 350px;
    }

    .swiper,
    .swiper__img{
        width: 355px;
        height: 220px;
    }

    .coopyright,
    .contact__telephone{
        font-size: 14px;
    }
}

/* width: 375px */  

/* width: 320px */  

@media (max-width: 320px){
    .container{
        max-width: 310px;
    }

    .header__wrapper.active .menu__title{
        font-size: 20px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .main__photo{
        left: 0;
    }

    .main__title{
        font-size: 18px;
    }

    .main__subtitle{
        font-size: 16px;
    }

    .main__text{
        font-size: 15px;
    }

    .main__subtext{
        font-size: 14px;
        padding-left: 20px;
        text-align: start;
    }

    .portfolio__title{
        font-size: 25px;
    }

    .swiper,
    .swiper__img{
        width: 305px;
        height: 200px;
    }

    .coopyright,
    .contact__telephone{
        font-size: 11.4px;
    }

    .footer__contact{
        width: 135px;
    }

    .footer__vk{
        width: 30px;
        height: 30px;
    }
}

/* width: 320px */  